# Ignorar entornos virtuales
venv/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo

# Archivos de logs
*.log

# Resultados generados
results/

# Archivos temporales
*.tmp
*.swp
*.swo

# Imágenes generadas
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp